* {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #121417;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body p {
  font-size: 15px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem;
  width: 35vw;
  height: 35vw;
  background-color: #252d37;
  border-radius: 30px;
}

main a {
  background-color: #394451;
  border-radius: 50%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 15%;
  height: 15%;
}

main h2 {
  color: white;
  width: 100%;
  padding: 1rem 0;
}

main p {
  color: #959eac;
}

main.rateCard form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main.rateCard form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
}

main.rateCard form div input {
  width: 4vw;
  height: 4vw;
  padding: 1rem;
  border-radius: 50%;
  border: none;
  color: white;
  background-color: #394451;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

main.rateCard form div input:hover {
  cursor: pointer;
  background-color: #fb7413;
  color: white;
}

main.rateCard form button {
  background-color: #fb7413;
  border-radius: 100px;
  border: none;
  padding: 0.7rem;
  color: white;
  font-size: 15px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

main.rateCard form button:hover {
  cursor: pointer;
  background-color: white;
  color: #fb7413;
}

main.thankCard {
  display: none;
}

main.thankCard img {
  width: 50%;
}

main.thankCard h2 {
  text-align: center;
}

main.thankCard p {
  text-align: center;
}

main.thankCard p#score {
  margin-top: 1rem;
  background-color: #394451;
  color: #fb7413;
  border-radius: 100px;
  padding: 0.5rem 1rem;
}

div.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media screen and (max-width: 1050px) {
  main {
    width: 40vw;
    height: 40vw;
  }
  main.rateCard form div input {
    width: 5vw;
    height: 5vw;
  }
}

@media screen and (max-width: 750px) {
  main {
    width: 55vw;
    height: 55vw;
  }
  main.rateCard form div input {
    width: 7vw;
    height: 7vw;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 90vw;
    height: 90vw;
  }
  main.rateCard a {
    width: 12vw;
    height: 12vw;
  }
  main.rateCard form div input {
    width: 12vw;
    height: 12vw;
  }
  main.thankCard img {
    width: 55%;
  }
}

@media screen and (max-width: 300px) {
  body p {
    font-size: 14px;
  }
  main {
    width: 93vw;
    height: 50vh;
  }
  main.rateCard form div input {
    width: 14vw;
    height: 14vw;
  }
}
/*# sourceMappingURL=style.css.map */